@media (max-width: 500px) {
    header,  h1, #form {
        width: 60%;
        

    }
    input, button {
        width: 80%;
    }

    h1 {
        font-size: 1em;
        margin: 0 auto;
        margin-top: 1em;
    }

    #resultado {
        font-size: .8em;
    }

    #clear {
        width: 80%;
    }
}