@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
body{
    font-family: 'Sarala', sans-serif;
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

header {
    background-color: #eee;
    height: 5em;
    width: 40%;
    margin-top: 5em;
}

h1{
    font-weight: bolder;
}

input{
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1em;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 40%;
    background-color: #fafafa;
    
}

button{
    background: #fc00ff;
    color:white;
    border: none;
    width: 80%;
    height:40px;
    font-weight: 900;
    box-sizing: border-box;
    border-radius: 10px;
    text-transform: uppercase;
}

button:hover{
    cursor: pointer;
    opacity: 0.5;
    }

#clear {
    width: 20%;
    opacity: 0.5;
}

#clear:hover {
    opacity: 1;
}

h3{
    font-family: sans-serif;
    }